.acq{
    padding-top: 77px + 160px;
    padding-bottom: 150px;
    position: relative;
    @include media(1600){
        padding-top: 63px + 130px;
    }
    @include media($xxl){
        padding-top: 63px + 115px;
        padding-bottom: 150px;
    }
    @include media($sm){
        padding-top: 63px + 84px;
        padding-bottom: 100px;
    }
    &__title{
        text-align: left;
        margin-bottom: 80px;    
        width: max-content;
        @include media($xl){
            width: 100%;
            text-align: center;
            margin-bottom: 50px;
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        gap: 400px;
        @include media($lg){
            gap: 60px;
        }
    }
    &__item{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 40px;
        @include media($lg){
            flex-direction: column;
            &.right{
                flex-direction: column-reverse;
            }
        }
        &-img{
            min-width: 527px;
            width: 50%;
            position: relative;
            @include media($xl){
                min-width: 350px;
            }
            @include media($lg){
                min-width: 0;
                max-width: 350px;
                width: 100%;
            }
            @include media($sm){
                max-width: 288px;
            }
            &.left{
                .acq__item-img-content{
                    margin-left: auto;
                    margin-right: auto;
                    width: calc(100% - 60px);
                    @include media($lg){
                        width: calc(100% - 33px);
                    }
                } 
                .acq__item-img-p{
                    right: auto;
                    left: 0;
                }
            }
            &-content{
                width: calc(100% - 33px);
                position: relative;
                @include media($xl){
                    margin-left: 10px;
                    margin-right: auto;
                    width: calc(100% - 60px);
                }
                @include media($lg){
                    width: calc(100% - 33px);
                }
                &::before{
                    content: '';
                    position: absolute;
                    z-index: -1;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 600px;
                    height: 600px;
                    background: rgba(100, 100, 100, 0.51);
                    filter: blur(100px);
                    @include media($xl){
                        width: 300px;
                        height: 300px;
                    }
                }
                &::after{
                    content: '';
                    position: absolute;
                    top: 40px;
                    right: -25px;
                    bottom: 25px;
                    left: 25px;
                    border: 1px solid #7A7A7A;
                    z-index: -1;
                    @include media($md){
                        right: -16px;
                        top: 23px;
                        bottom: 12px;
                    }
                }
                img{
                    width: 100%;
                }
            }
            &-p{
                background: linear-gradient(96.13deg, #D3C0A4 35.7%, #FFF3CB 105.03%);
                border-radius: 30px;
                padding: 15px 30px;
                position: absolute;
                right: 0;
                bottom: 0;
                font-weight: 600;
                font-size: 27px;
                line-height: 95.3%;
                max-width: 390px;
                text-align: center;
                color: rgba(16, 19, 32, 0.75);
                @include media($md){
                    font-size: 15px;
                    line-height: 95.3%;
                    max-width: 200px;
                    padding: 7px 20px;
                }
            }
        }
        &-content{
            padding: 60px 40px 60px 60px;
            background: linear-gradient(179.42deg, #0C0C0D 34.88%, #182027 97.8%);
            position: relative;
            flex: 1 1 auto;
            @include media($xxl){
                padding: 40px;
            }
            @include media($sm){
                padding: 25px 35px;
                max-width: 288px;
            }
            &::before{
                content: '';
                position: absolute;
                top: 10px;
                right: 10px;
                bottom: 8px;
                left: 10px;
                pointer-events: none;
                border: 1px solid;
                border-image-slice: 1;
                border-image-source: linear-gradient(180deg, rgba(83, 83, 83, 0) 31.16%, #535353 100%);
            }
            &::after{
                content: '';
                position: absolute;
                bottom: -32px;
                left: 0;
                width: 100%;
                height: 57px;
                background-image: url('../img/light.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: auto 100%;
                @include media($xxl){
                    height: 40px;
                    bottom: -13px;
                }
                @include media($md){
                    height: 30px;
                    bottom: -8px;
                }
                @include media($sm){
                    height: 20px;
                    bottom: -2px;
                }
            }
        }
        &-p{
            font-weight: 500;
            font-size: 27px;
            line-height: 33px;
            color: #DDDDDD;
            @include media($xxl){
                font-size: 20px;
                line-height: 140%;
            }
            @include media($sm){
                font-size: 13px;
                line-height: 16px;
            }
            .more{
                color: #FFEBA9;
                text-decoration: underline;
                cursor: pointer;
            }
            .hide{
                display: none;
                &.show{
                    display: inline;
                }
            }
        }
    }
}