.adv{
    &__body{
        display: flex;
        gap: 13px;
        flex-wrap: wrap;
    }
    &__item{
        width: calc(33.3333333333333% - 8.66666666667px);
        background: #171F25;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 30px 15px 25px 15px;
        gap: 23px;
        position: relative;
        isolation: isolate;
        &::before{
            content: '';
            position: absolute;
            top: 10px;
            right: 10px;
            bottom: 10px;
            left: 10px;
            border: 1px solid #171F25;
        }
    }
}