.adv{
    padding-bottom: 150px;
    @include media(576){
        padding-bottom: 100px;
    }
    &__body{
        display: flex;
        gap: 13px;
        flex-wrap: wrap;
    }
    &__item{
        width: calc(33.3333333333333% - 8.66666666667px);
        background: #171F25;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 30px 15px 25px 15px;
        gap: 23px;
        position: relative;
        isolation: isolate;
        overflow: hidden;
        @include media(1400){
            width: 100%;
        }
        &::before{
            content: '';
            position: absolute;
            top: 10px;
            right: 10px;
            bottom: 10px;
            left: 10px;
            border: 1px solid #343434;
            z-index: -2;
            border-radius: 8px;
        }
        &::after{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            background: linear-gradient(90deg, #171F25 0%, rgba(23, 31, 37, 0) 100%, rgba(217, 217, 217, 0) 100%);
            border-radius: 0;
        }
        &-img{
            position: relative;
            width: 120px;
            min-width: 120px;
            height: 120px;
            @include media(576){
                min-width: 80px;
                width: 80px;
                height: 80px;
            }
            img{
                width: 100%;
                height: 100%;
            }
            &::before{
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 70px;
                height: 70px;
                background: rgba(238, 220, 159, 0.6);
                filter: blur(50px);
            }
        }
        &-title{
            font-weight: 500;
            font-size: 18px;
            line-height: 107.5%;
            color: #C1C1C1;    
            @include media(576){
                font-size: 11px;
                line-height: 107.5%;
            }        
        }
    }
}