.footer{
    height: 340px;
    background: linear-gradient(180deg, #171F25 0%, #06070A 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    @include media($sm){
        height: 164px;
    }
    @include media(430){
        zoom: 0.85;
    }
    &__nav{
        padding: 0 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__right{
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
    }
    &__logo{
        line-height: 0;
        @include media($sm){
            width: 82px;
        }
        svg{
            width: 100%;
        }
        &.sm{
            display: none;
        }
    }
    &__list{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 60px;
        list-style-type: none;
        height: 70px;
        margin-right: 37px;
        margin-left: 37px;
        @include media(1600){
            gap: 40px;
        }
        @include media($lg){
            flex-direction: column;
            align-items: flex-start;
            gap: 9px;   
            max-width: 120px;
            height: max-content;
        }
        @include media(576){
            gap: 6px;
        }
        @include media(340){
            margin-left: 0;
            margin-right: 20px;
        }
    }
    &__link{
        font-weight: 500;
        font-size: 18px;
        line-height: 111.5%;
        text-decoration: none;
        color: #D4D4D4;        
        transition: 300ms ease-out;
        position: relative;
        @include media(576){
            font-size: 12px;
        }
        &:hover{
            opacity: 0.8;
            &::before{
                opacity: 0.8;
                visibility: visible;
                transform: translateY(0);
            }
        }
        &::before{
            content: '';
            transition: 300ms ease-out;
            position: absolute;
            top: calc(100% + 4px);
            left: 0;
            width: 100%;
            height: 2px;
            background: #D4D4D4;   
            opacity: 0;
            visibility: hidden;
            transform: translateY(4px);
        }
    }
    &__btn{
        height: 70px;
        margin-right: 48px;
        @include media($xxl){
            display: none;
        }
    }
    &__left{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @include media($xxl){
            gap: 16px;
        }
    }
    &__tel{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        @include media($sm){
            margin-left: -40px;
        }
        &-link{
            font-weight: 700;
            font-size: 30px;
            line-height: 111.5%;
            color: #D4D4D4;
            text-decoration: none;
            margin-bottom: 1px;
            transition: 300ms ease-out;
            @include media(1600){
                font-size: 24px; 
            }
            @include media($xxl){
                font-size: 20px;
            }
            @include media($sm){
                font-size: 14px;
            }
            &:hover{
                opacity: 0.8;
            }
        }
        &-span{
            font-weight: 500;
            font-size: 16px;
            line-height: 111.5%;
            padding-left: 24px;
            color: #B4B4B4;   
            position: relative;
            @include media(1600){
                font-size: 14px;
                padding-left: 18px;
            }
            @include media($xxl){
                font-size: 11px;
            }
            @include media($sm){
                font-size: 8px;
            }
            &::before{
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background: #007D0D;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                @include media(1600){
                    width: 10px;
                    height: 10px;
                }
            }         
        }
    }
}