.form{
    padding-bottom: 120px;
    &__title{
        max-width: 1157px;
        margin-left: auto;
        margin-right: auto;
    }
    &__p{
        text-align: center;
        margin-top: 10px;
        font-weight: 500;
        font-size: 27px;
        line-height: 111.5%;
        color: #ABABAB;    
        max-width: 688px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 80px;
        @include media(1200){
            font-size: 15px;
            line-height: 111.5%;
            margin-bottom: 50px;
        }    
    }
    &__content{
        display: flex;
        gap: 20px;
        max-width: 1370px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        @include media(992){
            flex-direction: column;
            gap: 15px;
        }
    }
    &__left{
        width: 66.6666666667%;
        display: flex;
        flex-wrap: wrap;
        gap: 25px 20px;
        @include media(992){
            width: 100%;
            gap: 12px 8px;
        }
    }
    &__right{
        width: 33.3333333333%;
        @include media(992){
            width: 100%;
        }
    }
    &__input{
        width: calc(50% - 10px);
        position: relative;
        @include media(576){
            width: calc(50% - 4px);
        }
        &::before{
            content: '';
            position: absolute;
            top: 5px;
            right: 5px;
            bottom: 5px;
            left: 5px;
            border-radius: 20px;
            pointer-events: none;
            border: 1px solid #888;
            @include media(992){
                border-radius: 10px;
            }
        }
        input{
            height: 100px;
            background: #F9F9F9;
            border-radius: 20px;
            border: none;
            width: 100%;
            padding: 10px 38px;
            font-weight: 600;
            font-size: 22px;
            line-height: 111.5%;
            color: #A3A3A3;
            @include media(992){
                height: 65px;
                font-weight: 600;
                font-size: 14px;
                line-height: 111.5%;
                border-radius: 10px;
            }
            @include media(576){
                padding: 0 20px;
            }
            &::placeholder{
                color: #A3A3A3;
            }
        }
    }
    &__btn{
        height: 95px;
        margin-bottom: 30px;
        width: 100%;
        @include media(992){
            margin-bottom: 20px;
            height: 70px;
        }
        @include media(576){
            span{
                max-width: 169px;
            }
        }
    }
    &__label{
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: rgba(255, 255, 255, 0.76);
        @include media(576){
            font-size: 10px;
            line-height: 12px;
        }
    }
}