.how{
    padding-bottom: 250px;
    position: relative;
    @include media(576){
        padding-bottom: 100px;
    }
    &::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        width: 1680px;
        height: 800px;
        background-image: url('../img/how-bg.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        @include media(576){
            background-image: url('../img/how-bg-2.png');
            width: 760px;
            height: 364px;
            bottom: 684px;
            left: 18px;
        }
    }
    &::after{
        content: '';
        z-index: -1;
        @include media(576){
            position: absolute;
            bottom: 1206px;
            left: -264px;
            background-image: url('../img/how-bg-1.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: 760px;
            height: 364px;
        }
    }
    &__el{
        &_1{
            position: absolute;
            top: -150px;
            left: -280px;
            width: 550px;
            height: 550px;
            background: rgba(45, 89, 207, 0.35);
            opacity: 0.6;
            filter: blur(100px);
            transform: rotate(-154.51deg);
            z-index: -1;
            @include media(576){
                top: -50px;
                left: -133px;
                width: 205px;
                height: 280px;
            }
        }
        &_2{
            position: absolute;
            right: -240px;
            bottom: 500px;
            width: 355px;
            height: 490px;
            background: rgba(45, 89, 207, 0.19);
            opacity: 0.6;
            filter: blur(100px);
            transform: rotate(-154.51deg);
            z-index: -1;
            @include media(576){
                bottom: 50%;
                transform: translate(50%);
                right: -57px;
                width: 205px;
                height: 280px;
            }
        }
        &_3{
            display: none;
            z-index: -1;
            @include media(576){
                position: absolute;
                display: block;
                bottom: 37px;
                left: -155px;
                background: rgba(45, 89, 207, 0.32);
                opacity: 0.6;
                filter: blur(100px);
                transform: rotate(165deg);
                width: 205px;
                height: 280px;
            }
        }
    }
    &__p{
        text-align: center;
        margin-top: 10px;
        font-weight: 500;
        font-size: 27px;
        line-height: 111.5%;
        color: #ABABAB;    
        margin-bottom: 80px;
        @include media(1200){
            font-size: 15px;
            line-height: 111.5%;
            margin-bottom: 50px;
        }    
    }
    &__content{
        display: flex;
        justify-content: space-between;
        margin-bottom: 75px;
        gap: 40px;
        @include media(992){
            flex-direction: column;
            gap: 30px;
        }
    }
    &__img{
        position: relative;
        @include media(992){
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
        &::before{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 600px;
            height: 400px;
            background: rgba(100, 100, 100, 0.3);
            filter: blur(100px);
            z-index: -1;
            @include media(576){
                width: 400px;
                height: 200px;
            }
        }
        @include media(992){
            display: none;
        }
        &.lg{
            display: none;
            @include media(992){
                display: block;
            }
        }
        img{
            width: 100%;
        }
    }
    &__col{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 50%;
        gap: 75px;
        @include media(992){
            width: 100%;
            gap: 30px;
            align-items: center;
        }
    }
    &__item{
        max-width: 495px;
        width: 100%;
        @include media(992){
            max-width: 558px;
        }
        &.big{
            max-width: 558px;
        }
        &-label{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            border-radius: 57px;
            padding: 8px 10px;
            background: linear-gradient(270deg, #171F26 0%, #0E1012 152.02%);
            position: relative;
            isolation: isolate;
            overflow: hidden;
            margin-bottom: 36px;
            @include media(1400){
                margin-bottom: 24px;
            }
            &::before{
                content: '';
                position: absolute;
                top: 8px;
                bottom: 8px;
                right: 10px;
                left: 10px;
                border: 1px solid #4E4E4E;
                border-radius: 57px;
                z-index: -2;
            }
            &::after{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient(270deg, #171F2600 0%, #0E1012 70%);
                z-index: -1;
            }
        }
        &-p{
            flex: 1 1 auto;
            text-align: center;
            font-weight: 600;
            font-size: 25px;
            line-height: 31px;
            color: #D1D1D1;  
            @include media(1400){
                font-size: 20px;
            }          
            @include media(576){
                font-size: 15px;
                line-height: 18px;
            }
        }
        &-num{
            font-family: 'Girassol';
            font-style: normal;
            font-weight: 400;
            font-size: 65px;
            line-height: 78px;
            color: #CACACA;  
            border: 2px solid #FEF3CA;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 77px;
            min-width: 77px;
            height: 77px;
            border-radius: 50%;   
            @include media(576){
                width: 48px;
                height: 48px;
                min-width: 48px;
                font-size: 36px;
                line-height: 43px;
            }       
        }
        &-desc{
            font-weight: 400;
            font-size: 26px;
            line-height: 31px;
            color: #D1D1D1;   
            @include media(1400){
                font-size: 20px;
            }       
            @include media(576){
                font-size: 16px;
                line-height: 19px;
            }          
        }
    }
    &__btn{
        max-width: 410px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        @include media(576){
            max-width: 270px;
        }
    }
}