.info{
    padding: 180px 0 130px 0;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top: 20px;
        left: -75px;
        width: 341px;
        height: 470px;
        background: rgba(45, 89, 207, 0.2);
        opacity: 0.6;
        z-index: -1;
        filter: blur(100px);
        transform: rotate(165deg);
        @include media(576){
            width: 205px;
            height: 283px;
        }
    }
    &::after{
        content: '';
        position: absolute;
        bottom: -100px;
        right: -130px;
        width: 340px;
        height: 470px;
        background: rgba(45, 89, 207, 0.35);
        opacity: 0.6;
        filter: blur(100px);
        transform: rotate(-154.51deg);
        z-index: -1;
        @include media(576){
            bottom: 80px;
            right: -86px;
            width: 205px;
            height: 283px;
        }
    }
    @include media(768){
        padding: 0px 0 100px 0;
    }
    &__title{
        margin-bottom: 100px;
        @include media(1400){
            margin-bottom: 50px;
        }
    }
    &__content{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include media(1600){
            margin-bottom: 100px;
        }
        @include media(1400){
            margin-bottom: 50px;
        }
        @include media(1200){
            flex-direction: column;
        }
    }
    &__img{
        width: 50%;
        line-height: 0;
        @include media(992){
            width: 80%;
        }
        @include media(768){
            width: 100%;
        }
        img{
            width: 100%;
        }
    }
    &__quote{
        width: 50%;
        background: linear-gradient(177.64deg, #0C0C0D 23.1%, #182027 96.43%);
        padding: 80px;
        position: relative;
        @include media(1400){
            padding: 50px;
        }
        @include media(1200){
            width: 100%;
        }
        @include media(992){
            padding-top: 20px;
        }
        @include media(576){
            padding: 50px 30px;
        }
        &::before{
            content: '';
            position: absolute;
            top: 8px;
            right: 8px;
            bottom: 8px;
            left: 8px;
            border: 1px solid;
            border-image-slice: 1;
            pointer-events: none;
            border-image-source: linear-gradient(180deg, rgba(83, 83, 83, 0) 31.16%, #535353 100%);
        }
        &::after{
            content: '';
            position: absolute;
            bottom: -20px;
            left: 56px;
            right: 56px;
            height: 53px;
            background-image: url('../img/light.png');
            background-size: 100% auto;
            background-repeat: no-repeat;
            @include media(1600){
                bottom: -24px;
            }
            @include media(1400){
                bottom: -28px;
            }
            @include media(1200){
                background-size: auto 100%;
                bottom: -20px;
                background-position: center;
            }
            @include media(992){
                background-size: 100% auto;
            }
            @include media(576){
                left: 20px;
                right: 20px;
            }
        }
    }
    &__p{
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 13px;
        color: #DDDDDD;
        @include media(1400){
            font-size: 20px;
            line-height: 120%;
        }    
        @include media(576){
            text-align: center;
            font-size: 15px;
            line-height: 18px;
            margin-bottom: 26px;
        }    
    }
    &__row{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 50px;
        @include media(1400){
            gap: 24px;
        }
        @include media(576){
            gap: 40px;
        }
    }
    &__item{
        width: 50%;
        &-title{
            font-family: 'Girassol';
            font-style: normal;
            font-weight: 400;
            font-size: 80px;
            line-height: 96px;
            margin-bottom: 5px;
            color: #FFFFFF;    
            @include media(1400){
                font-size: 56px;
                line-height: 120%;
            } 
            @include media(576){
                font-size: 50px;
                margin-bottom: 8px;
            }       
        }
        &-p{
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #DDDDDD;  
            @include media(1400){
                font-size: 16px;
            }       
            @include media(576){
                font-size: 12px;
                line-height: 15px;
            }  
        }
    }
    &__btn{
        margin-left: auto;
        margin-right: auto;
        max-width: 410px;
        width: 100%;
    }
} 