.intro{
    padding-top: 77px + 160px;
    padding-bottom: 150px;
    position: relative;
    @include media(1600){
        padding-top: 63px + 130px;
    }
    @include media($xxl){
        padding-top: 63px + 115px;
        padding-bottom: 80px;
    }
    @include media($sm){
        padding-top: 63px + 84px;
        padding-bottom: 50px;
    }
    &::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 160px);
        z-index: -1;
        background-image: url('../img/intro.png');
        background-position: top center;
        background-size: auto 100%;
        background-repeat: no-repeat;
        @include media(1920){
            background-size: 100% auto;
        }
        @include media(1600){
            height: 700px + 177px;
        }
        @include media($xxl){
            height: 600px + 80px;
        }
        @include media($lg){
            height: 500px + 80px;
        }
        @include media($sm){
            background-image: url('../img/intro-sm.png');
            background-position: center center;
            background-size: 100% 100%;
            height: 100%;
        }
        @include media(428){
            background-size: auto 100%;
        }
    }
    &__title{
        font-family: 'Palatino Linotype';
        font-style: normal;
        font-weight: 700;
        font-size: 70px;
        line-height: 97px;
        text-align: center;
        letter-spacing: 0.075em;
        background: linear-gradient(182.17deg, rgba(255, 255, 255, 0.76) 1.82%, rgba(255, 255, 255, 0.1976) 130.85%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        text-shadow: 6px 6px 51px rgba(0, 0, 0, 0.3);
        @include media($uxl){
            font-size: 59px;
        }
        @include media($xxl){
            font-size: 50px;
            line-height: 140%;
        }
        @include media($lg){
            font-size: 36px;
        }
        @include media($sm){
            font-size: 32px;
            line-height: 115.41%;
            max-width: 415px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 28px;
        }
    }
    &__content{
        background: linear-gradient(179.42deg, #0C0C0D 34.88%, #182027 97.8%);
        height: 700px;
        max-width: 1050px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 52px;
        position: relative;
        isolation: isolate;
        @include media($xxl){
            height: 600px;
        }
        @include media($lg){
            height: 500px;
        }
        @include media($sm){
            height: 350px;
            width: 240px;
        }
        &::before{
            content: '';
            position: absolute;
            top: -50%;
            left: 10px;
            right: 10px;
            bottom: 10px;
            border: 1px solid;
            z-index: -2;
            border-image-slice: 1;
            border-image-source: linear-gradient(180deg, rgba(83, 83, 83, 0) 31.16%, #535353 100%);   
            pointer-events: none;         
            @include media($sm){
                top: -10%;
            }
        }
        &::after{
            content: '';
            position: absolute;
            bottom: -31px;
            left: 78px;
            right: 78px;
            z-index: -1;
            height: 75px;
            background-image: url('../img/light.png');
            background-size: 100% auto;
            background-repeat: no-repeat;
            @include media(1600){
                bottom: -37px;
            }
            @include media($xl){
                bottom: -43px;
            }
            @include media($lg){
                bottom: -50px;
            }
            @include media($md){
                bottom: -55px;
            }
            @include media($sm){
                bottom: -56px;
                left: 10px;
                right: 10px;
            }
        }
        @include media(1600){
            max-width: 900px;
        }
    }
    &__subtitle{
        font-family: 'Palatino Linotype';
        font-style: normal;
        font-weight: 400;
        font-size: 65px;
        line-height: 107.1%;
        text-align: center;
        background: linear-gradient(107.91deg, #DDDDDD 18.86%, rgba(141, 141, 141, 0.63) 85.5%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin-bottom: 23px;
        @include media($xxl){
            font-size: 56px;
        }
        @include media($xl){
            font-size: 50px;
        }
        @include media($lg){
            font-size: 44px;
        }
        @include media($md){
            font-size: 36px;
        }
        @include media($sm){
            font-size: 21px;
            margin-bottom: 20px;
        }
    }
    &__p{
        font-weight: 500;
        font-size: 24px;
        line-height: 111.5%;
        margin-bottom: 97px;
        text-align: center;
        color: #ABABAB;   
        @include media($xxl){
            margin-bottom: 55px;
        }     
        @include media($xl){
            font-size: 20px;
        }
        @include media($lg){
            font-size: 18px;
        }
        @include media($md){
            margin-bottom: 36px;
        }
        @include media($sm){
            font-size: 11px;
            line-height: 111.5%;
            margin-bottom: 34px;
        }
    }
    &__btn{
        max-width: 314px;
        width: 100%;
        @include media($sm){
            font-size: 12px;
            line-height: 111.5%;
            padding: 14px 10px;
        }
    }
}