.services{
    padding-top: 77px + 160px;
    padding-bottom: 150px;
    position: relative;
    @include media(1600){
        padding-top: 63px + 130px;
    }
    @include media(1400){
        padding-top: 63px + 115px;
        padding-bottom: 80px;
    }
    @include media(576){
        padding-top: 63px + 84px;
        padding-bottom: 50px;
    }
    &__title{
        margin-bottom: 120px;
    }
    &__content{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(174.78deg, #0C0C0D -10.24%, #182027 94.38%);
        box-shadow: 7px 9px 14px rgba(0, 0, 0, 0.36);
        position: relative;
        isolation: isolate;
        padding: 35px 60px 16px;
        &::before{
            content: '';
            position: absolute;
            pointer-events: none;
            left: 12px;
            right: 16px;
            bottom: 16px;
            top: 7px;
            z-index: 1;
            border: 1px solid;
            border-image-slice: 1;
            border-image-source: linear-gradient(180deg, rgba(83, 83, 83, 0) 31.16%, #535353 100%);
        }
    }
    &__subtitle{
        font-weight: 600;
        font-size: 27px;
        line-height: 110%;
        color: #FDFDFD;  
        max-width: 578px;
        width: 100%;
        margin-bottom: 30px;      
    }
    &__item{
        margin-bottom: 55px;
        &:not(:last-of-type){
            margin-bottom: 8px;
        }
        &-row{
            display: flex;
            align-items: center;
            column-gap: 18px;
        }
        &-txt{
            font-weight: 600;
            font-size: 22px;
            line-height: 110%;
            color: #DDDDDD;
        }
        &-p{
            margin-left: 58px;
            font-weight: 400;
            font-size: 18px;
            line-height: 110%;
            color: #B0B0B0;
            padding-left: 11px;
            &.dot{
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    left: 0;
                    width: 3px;
                    height: 3px;
                    border-radius: 50%;
                    background: #B4B4B4;
                    top: 8px;
                }
            }
        }
    }
    &__btn{
        margin-bottom: 30px;
        &.enable-active{
            display: none;
            &.active{
                display: flex;
            }
        }
    }
}