.txt{
    padding-bottom: 123px;
    @include media(576){
        padding-bottom: 107px;
    }
    &__title{
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
        max-width: 1412px;
    }
    &__content{
        background: linear-gradient(173.97deg, #0C0C0D -6.64%, #182027 93.83%);
        padding: 70px 50px;
        position: relative;
        @include media(992){
            padding: 50px;
        }
        @include media(576){
            padding: 5px 30px 40px 30px;
        }
        &::before{
            content: '';
            position: absolute;
            top: 16px;
            right: 16px;
            bottom: 16px;
            left: 16px;
            pointer-events: none;
            border: 1px solid;
            border-image-slice: 1;
            border-image-source: linear-gradient(180deg, rgba(83, 83, 83, 0) 31.16%, #535353 100%);
            @include media(992){
                top: 10px;
                right: 10px;
                bottom: 10px;
                left: 8px;
            }
        }
    }
    &__p{
        text-align: center;
        font-weight: 500;
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        color: #DDDDDD;
        @include media(1400){
            font-size: 20px;
            line-height: 140%;
        }
        @include media(576){
            font-size: 14px;
            line-height: 17px;
        }
    }
}