mixin acq()
    .acq 
        .acq__el_1
        .acq__el_2
        .acq__el_3
        .acq__el_4
        .acq__el_5
        .acq__body.container    
            h2.title.acq__title Давайте знакомиться 
            .acq__content 
                .acq__item
                    .acq__item-img 
                        .acq__item-img-content 
                            img(src="@img/acq-1.png", alt="" draggable="false")
                        .acq__item-img-p Квитченко Владислав Николаевич
                    .acq__item-content 
                        p.acq__item-p Создатель проекта <b>Академия Профильных Продаж</b>.<br><br>Квитченко Владислав Николаевич, 32 года.<br>Генеральный Директор<br>Создатель Проекта Академия Профильных Продаж.<br>Образование – Высшее Юридическое<br><br>Я научу Ваших сотрудников ПО СВОЕЙ РАЗРАБОТАННОЙ МЕТОДИКЕ продавать один из самых интересных продуктов - Банкротство Физических Лиц. <br><br>Я Специалист узкого направления, который сам прошел путь от менеджера по продажам БФЛ до Директора по Развитию Проектов. В сентябре 2021 года я принял решение завершить карьеру в одной из крупнейших федеральных компании по Банкротству и уйти в независимое плавание, т.к. меня уже давно стали рекомендовать как Специалиста по обучению активным продажам и развитию бизнеса, Мотиватора и Бизнес - Аналитика <span class="hide">В сентябре 2021 года я понял, что мне необходимо двигаться дальше, поэтому принял решение покинуть одну из крупнейших федеральных компании по Банкротству и запустить Свой Проект.<br><br>Методику по развитию и обучению Отделов Продаж и Клиентского Сервиса разрабатывал самостоятельно, опираясь на опыт, знания материалов, нестандартному мышлению. <br>Я знаю о Банкротстве ВСЕ! Люблю данное направление и именно поэтому решил посвятить свою жизнь обучению продажам БФЛ, Альтернативным продажам Клиентского Сервиса, выстраиванию бизнес-процессов Компаний.<br>Мы сможем успешно отрабатывать самые сложные на первый взгляд возражения, такие как «НЕТ ДЕНЕГ», «ДОРОГО», «ХОЧУ ТОЛЬКО В СВОЕМ РЕГИОНЕ», «У ВАС ПЛОХИЕ ОТЗЫВЫ» и многое другое; сохранять имущество и высокие доходы; продавать реструктуризацию; работать с любой суммой задолженности, правильно сопровождать/сохранять Клиентов.<br>Мы непременно внедрим необходимые регламенты, отладим работу отделов, скорректируем расходы – выстроим всю систему так, чтобы в Вашей компании проглядывалась уверенная динамика.<br><br>Я помог выстроить бизнес-процессы, увеличить конверсию и доходы уже в более 20-ти Компаниях, непременно помогу и Вам! </span> <span class="more">читать еще</span>
                .acq__item.right  
                    .acq__item-content 
                        p.acq__item-p Мусатова Юлия Владимировна, 38 лет.<br><br>Директор по развитию бизнеса.<br>Образование – Высшее Юридическое, Высшее – Психология<br><br>Я много лет управляла и развивала Компании различных направлений – АгроПром сфера, Строительство, Медицина.<br>Ворвалась в сферу Банкротства Физических лиц в 2019 году и полюбила это направление.<br>Начинала свою карьеру в одной из Компаний по БФЛ с менеджера по продажам, Квитченко Владислав Николаевич был моим руководителем.<br>Именно у него я научилась понимать, воспринимать, грамотно применять на практике полученные знания и помогать людям, проходящим процедуру Банкротства.<br><span class="hide">Спустя 8 месяцев слаженной работы, Владислав стал приглашать меня в свои проекты в качестве Помощника.<br>Так образовалась наша сплоченная команда!<br>Моя задача не только выявить сильные и слабые стороны Компании, но и внедрить грамотные  работающие инструменты, более подходящие именно Вам.<br>При формировании отделов помогаю проводить собеседования с новыми кандидатами.<br>А самое главное, Ваши сотрудники всегда могут обратиться ко мне лично.<br>Вместе мы проработаем переживания, страхи, трудности, с которыми им приходится сталкиваться в Компании. Для выполнения поставленных задач и достижения конечной цели - необходима собранность, стремление, позитивный настрой, уверенность в себе…. Но, к сожалению, никто из нас не застрахован от перегорания на рабочем месте, усталости. Мы придумаем как это преодолеть.<br>Я, как Специалист по Развитию и как Психолог постараюсь помочь Вашему коллективу стать увереннее, смелее, уважать свою деятельность и достигать лучших результатов. </span> <span class="more">читать еще</span>
                    .acq__item-img.left  
                        .acq__item-img-content 
                            img(src="@img/acq-2.png", alt="" draggable="false")
                        .acq__item-img-p Мусатова Юлия Владимировна 