mixin acq()
    .acq 
        .acq__el_1
        .acq__el_2
        .acq__el_3
        .acq__el_4
        .acq__el_5
        .acq__body.container    
            h2.title.acq__title Давайте знакомиться 
            .acq__content 
                .acq__item
                    .acq__item-img 
                        .acq__item-img-content 
                            img(src="@img/acq-1.png", alt="" draggable="false")
                        .acq__item-img-p Квитченко Владислав Николаевич
                    .acq__item-content 
                        p.acq__item-p Создатель проекта <b>Академия Профильных Продаж</b>.<br><br>Квитченко Владислав Николаевич, 32 года.<br>Генеральный Директор<br>Создатель Проекта Академия Профильных Продаж.<br>Образование – Высшее Юридическое<br><br>Я научу Ваших сотрудников ПО СВОЕЙ РАЗРАБОТАННОЙ МЕТОДИКЕ продавать один из самых интересных продуктов - Банкротство Физических Лиц. <br><br>Я Специалист узкого направления, который сам прошел путь от менеджера по продажам БФЛ до Директора по Развитию Проектов. В сентябре 2021 года я принял решение завершить карьеру в одной из крупнейших федеральных компании по Банкротству и уйти в независимое плавание, т.к. меня уже давно стали рекомендовать как Специалиста по обучению активным продажам и развитию бизнеса, Мотиватора и Бизнес - Аналитика ... <span>читать еще</span>
                .acq__item.right  
                    .acq__item-content 
                        p.acq__item-p Мусатова Юлия Владимировна, 38 лет.<br><br>Директор по развитию бизнеса.<br>Образование – Высшее Юридическое, Высшее – Психология<br><br>Я много лет управляла и развивала Компании различных направлений – АгроПром сфера, Строительство, Медицина.<br>Ворвалась в сферу Банкротства Физических лиц в 2019 году и полюбила это направление.<br>Начинала свою карьеру в одной из Компаний по БФЛ с менеджера по продажам, Квитченко Владислав Николаевич был моим руководителем.<br>Именно у него я научилась понимать, воспринимать, грамотно применять на практике полученные знания и помогать людям, проходящим процедуру Банкротства.<br>Спустя 8 месяцев слаженной работы ... <span>читать еще</span>
                    .acq__item-img.left  
                        .acq__item-img-content 
                            img(src="@img/acq-2.png", alt="" draggable="false")
                        .acq__item-img-p Мусатова Юлия Владимировна 