mixin adv()
    .adv 
        .adv__body.container 
            .adv__item
                .adv__item-img
                    img(src="@img/adv-1.png", alt="")
                span.adv__item-title Первые и единсвенные специалисты выского уровня по обучению продаж БФЛ в России
            .adv__item
                .adv__item-img
                    img(src="@img/adv-2.png", alt="")
                span.adv__item-title Методика по обучению и сопровождению Отделов разработана самостоятельно, опираясь на многолетний опыт и знания материалов
            .adv__item
                .adv__item-img
                    img(src="@img/adv-3.png", alt="")
                span.adv__item-title Полноценное сопровождение и контроль Вашего бизнеса на всех этапах! Мы работаем с вами, как полноценные сотрудники