mixin case()
    .case 
        .case__el-1
        .case__el-2
        .case__blow 
        .case__body.container 
            .case__content 
                p.case__p Здесь Вы познакомитесь с актуальными запросами и пожеланиями наших Клиентов. Увидите примеры проделанной работы, какие инструменты применялись для реализации поставленных задач, длительность, ситуации, при которых достигается колоссальный успех и в каких случаях мы ставим под сомнение дальнейшее сотрудничество.<br><br>Возможно, однажды, на нашем сайте будет опубликован Кейс с первоклассными показателями именно Вашей компании! Дерзайте!
                .case__img 
                    img(src="@img/case.png", alt="" draggable="false")  