mixin how()
    .how 
        .how__el_1
        .how__el_2
        .how__el_3
        .how__body.container 
            h2.how__title.title Приведем примеры, как нам удалось вывести Компании на новый уровень, увеличить показатели отделов
            p.how__p.light а так же запустить Бизнес с нуля
            .how__content 
                .how__col
                    .how__item
                        .how__item-label 
                            .how__item-num 1
                            span.how__item-p ЦЕЛЬ
                        p.how__item-desc Запуск новой компании по БФЛ, быстрая окупаемость вложений.
                    .how__item
                        .how__item-label 
                            .how__item-num 2
                            span.how__item-p ПРОБЛЕМА КЛИЕНТА
                        p.how__item-desc Знание сферы Банкротства Физических Лиц поверхностное
                    .how__item
                        .how__item-label 
                            .how__item-num 3
                            span.how__item-p РАБОТА НА КОМПАНИЮ
                        p.how__item-desc 1 год
                    .how__img 
                        img(src="@img/how.png", alt="" draggable="false")
                .how__col
                    .how__item.big
                        .how__item-label 
                            .how__item-num 4
                            span.how__item-p ПРОБЛЕМЫ В ПРОЦЕССЕ РАБОТЫ
                        p.how__item-desc Ограниченный бюджет на запуск и развитие проекта. Отсутствие бюджета на создание сайта. Недоверие клиентов из-за отсутствия информации о Компании. Сомнительная клиентская база на начальном этапе.
                    .how__item
                        .how__item-label 
                            .how__item-num 5
                            span.how__item-p РЕШЕНИЕ ПРОБЛЕМЫ
                        p.how__item-desc Создание сайта. Контент для сайта прописывался самостоятельно. Запуск соцсетей. Набор двух менеджеров с опытом работы в сфере БФЛ. Один Юрист. Собственниками выделены деньги на рекламу.
                    .how__item
                        .how__item-label 
                            .how__item-num 6
                            span.how__item-p РЕЗУЛЬТАТ
                        p.how__item-desc На третий месяц приняли в компанию еще двоих менеджеров. На пятый месяц открыли отдел Клиентского Сервиса, в этот же период запустили полноценный отдел Сопровождения клиентов (4 юриста, 4 помощника)<br>Окупаемость проекта - 6 месяцев.<br>Выход в прибыль на 7 месяц.<br>Было продаж в месяц 0 - Стало 211
                .how__img.lg 
                    img(src="@img/how.png", alt="" draggable="false")
            a(href="cases.html").how__btn.btn ЕЩЕ КЕЙСЫ 