mixin info()
    .info 
        .info__body.container   
            h2.info__title.title Мы не просто внедряем алгоритмы и регламенты, мы внедряем философию и принципы для успешного роста Вашего бизнеса
            .info__content 
                .info__img 
                    img(src="@img/info.png", alt="" draggable="false")
                .info__quote 
                    p.info__p «Наша самая Главная задача в сотрудничестве с Вами – видеть динамику развития, рост показателей Вашей Компании! Для достижения поставленных целей, мы строго контролируем Вас и весь коллектив. Посещение обучения, совещаний, планерок – должно быть всегда в полном составе.<br>Усвоение материала, активность на планерках, заинтересованность в личном росте и развитии Компании – все учитывается на итоговой Аттестации. <br>Допуск к работе Сотрудников, не прошедших Аттестацию, обсуждается на заключительном собрании Директоров.»
                    .info__row 
                        .info__item
                            p.info__item-title 21+ 
                            p.info__item-p Компанию вывели на навый уровень дохода
                        .info__item
                            p.info__item-title >12
                            p.info__item-p Лет опыта в управлении развитием бизнеса и с 2016 года опыт в БФЛ
            a(href="about.html").btn.info__btn ПОДРОБНЕЕ О НАС 