mixin info()
    .info 
        .info__body.container   
            h2.info__title.title Мы не просто внедряем алгоритмы и регламенты, мы внедряем философию и принципы для успешного роста Вашего бизнеса
            