mixin intro()
    .intro 
        .intro__body.container 
            h1.intro__title АКАДЕМИЯ ПРОФИЛЬНЫХ ПРОДАЖ
            .intro__content 
                h2.intro__subtitle Мы раскроем истинный потенциал Вашей Компании!
                p.intro__p Построение всех отделов, обучение и полное Сопровождение Бизнеса - Банкротство Физических Лиц
                a(href="services.html").btn.intro__btn ПОДРОБНЕЕ  