mixin reason()
    .reason 
        .reason__body.container 
            h2.reason__title.title 90% компаний по банкротству физических лиц
            p.reason__desc сталкиваются с одними и теми же проблемами
            .reason__content 
                .reason__wrapper 
                    .reason__item 
                        p.reason__p Не выполняется план продаж
                    .reason__item 
                        p.reason__p Отсутствие Экспертности сотрудников
                    .reason__item 
                        p.reason__p.disable-xl Страх озвучивать стоимость услуги
                        p.reason__p.enable-xl Потеря действующих клиентов на этапе сопровождения
                    .reason__item 
                        p.reason__p.disable-xl `Директор по Продажам – это дорого и не дает полной гарантии ожидаемого результата
                        p.reason__p.enable-xl Взыскание дебиторской задолженности
                .reason__img 
                    img(src="@img/reason-img.png", alt="" draggable="false")
                .reason__wrapper 
                    .reason__item 
                        p.reason__p.disable-xl Потеря действующих клиентов на этапе сопровождения
                        p.reason__p.enable-xl Отсутствие полного и четкого взаимодействия между отделами
                    .reason__item 
                        p.reason__p.disable-xl Взыскание дебиторской задолженности
                        p.reason__p.enable-xl Страх озвучивать стоимость услуги
                    .reason__item 
                        p.reason__p.disable-xl Отсутствие полного и четкого взаимодействия между отделами
                        p.reason__p.enable-xl Директор по Продажам – это дорого и не дает полной гарантии ожидаемого результата
                    .reason__item 
                        p.reason__p Хочу запустить свою Компанию с успешным стабильным развитием. Нужна помощь и поддержка Эксперта