mixin solution()
    .solution 
        .solution__body.container 
            h2.solution__title.title Но у каждой проблемы - есть свое индивидуальное решение
            p.solution__desc с которыми наша команда справляется на 100%
            .solution__content  
                .solution__item 
                    p.solution__num 01
                    .solution__texts 
                        p.solution__subtitle Прорабатываем болевые точки
                        p.solution__p и обучаем действующих сотрудников Отдела Продаж – психологии и тонкостям общения с клиентами, отрабатывать возражения, продавать свою Экспертность и качество работы компании. повышаем конверсию.
                .solution__item 
                    p.solution__num 02
                    .solution__texts 
                        p.solution__subtitle Предоставляем эксперта 
                        p.solution__p по сопровождению действующего бизнеса БФЛ. Для Вашей компании будут разработаны эффективные бизнес-процессы. Обучение и аттестацию пройдут сотрудники всех отделов без исключения! Жесткий контроль и сопровождение на всех этапах.
                .solution__item 
                    p.solution__num 03
                    .solution__texts 
                        p.solution__subtitle Создаем клиентский сервис
                        p.solution__p и обучаем сотрудников альтернативным продажам,  сохраняем действующих клиентов, повышаем плановые показатели сбора ежемесячных платежей, настраиваем взаимодействие с ОП и Юридическим отделом.
                .solution__item 
                    p.solution__num 04
                    .solution__texts 
                        p.solution__subtitle Запуск и сопровождение
                        p.solution__p Запускаем, развиваем и сопровождаем бизнес с нуля, если Вы решили открыть компанию по БФЛ.
                .solution__item 
                    p.solution__num 05
                    .solution__texts 
                        p.solution__subtitle Предоставляем директора по продажам
                        p.solution__p который выстроит безупречную работу Отела продаж, Обучит РОПа, разработает регламент, замотивирует и будет сопровождать Вашу команду до победных показателей.
                .solution__item 
                    p.solution__num 06
                    .solution__texts 
                        p.solution__subtitle Пролонгируем сотрудничество
                        p.solution__p Пролонгируем сотрудничество для контроля, психологической поддержки и мотивации команды в оговоренный период.
            p.solution__txt *перечень Услуг с полным описанием всей нашей работы находится в разделе Услуги
