mixin txt()
    .txt 
        .txt__body.container 
            h2.txt__title.title Командный дух, комплексная работа, уверенный настрой на победу - всегда приносят ЛУЧШИЕ результаты
            .txt__content 
                p.txt__p Наши знания, наш опыт, наши навыки, наша любовь к работе, помогли создать мощный Проект - <br>Академия Профильных Продаж.<br><br>Мы работаем исключительно в команде и каждый из нас принимает участие в анализе той или иной Компании. Мы делимся мнениями, вместе создаем программу, вместе выбираем путь по которому будем двигаться в достижении Вашей конечной цели – мы сплоченный тандем, в этом и заключается наша сила!<br><br>Запомните:<br><br>Мы вас не учим, мы помогаем выстраивать тот формат работы, который подходит именно Вам.<br>Мы не ломаем Вашу систему, мы улучшаем и модернизируем Ваши бизнес-процессы.<br>Мы не растим конкурентов и не устраиваем соревнования между Компаниями – мы помогаем Вам обрести индивидуальность и раскрываем именно Ваш потенциал.<br>Командный дух, комплексная работа, уверенный настрой на победу – всегда приносят ЛУЧШИЕ результаты!