mixin video()
    .video 
        .video__body.container 
            .video__content
                .video__inner
                    <iframe width="1180" height="664" src="https://www.youtube.com/embed/eWbh1u90n48" title="вводный урок070222" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>