mixin video()
    .video 
        .video__body.container 
            .video__content
                .video__inner
                    <iframe width="1280" height="720" src="https://www.youtube.com/embed/qAK1urHqqsA" title="FLYING OVER LAKE (4K UHD) - Relaxing Music Along With Beautiful Nature Videos - 4K Video HD" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>