// Тема по умолчанию
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Gilroy', sans-serif;
    &:focus,
    &:active{
        outline: none;
    }
}
html,
body{
    height: 100%;
}
body{
    background: #0C0C0D;
    color: #D4D4D4;
    &.services__body{
        background-image: url(../img/services-bg.png);
        background-color: #0C0C0D;
        background-repeat: no-repeat; 
    }
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
    .main{
        flex: 1 1 auto;
    }
}
button{
    background: none;
    border: none;
    cursor: pointer;
}
.btn{
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 111.5%;
    padding: 25px 70px;
    position: relative;
    color: #B18929;  
    transition: 100ms ease-out; 
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    text-decoration: none;
    top: 0;
    isolation: isolate;
    @include media(1600){
        padding: 25px 50px;
    }
    @include media(576){
        font-size: 15px;
        line-height: 111.5%;
    }
    &:hover{
        &::after{
            background: linear-gradient(265.36deg, #B39329 0.67%, rgba(203, 166, 47, 0.04) 44.01%), linear-gradient(94.32deg, #A58825 2.09%, #F9EEC1 42.14%);
        }
        &::before{
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(265.36deg, #B39329 0.67%, rgba(203, 166, 47, 0.04) 44.01%), linear-gradient(94.32deg, #A58825 2.09%, #F9EEC1 42.14%);
        }
    }
    &:active{
        top: 5px;
        &::before{
            top: 0;
        }
    }
    &::after{
        content: '';
        position: absolute;
        border-radius: 10px;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 100ms ease-out;
        background: linear-gradient(265.36deg, #EEDC9F 0.67%, rgba(251, 241, 209, 0.04) 44.01%), linear-gradient(94.32deg, #FFEBA9 2.09%, #FDF7DC 42.14%);
    }
    &::before{
        content: '';
        position: absolute;
        top: 5px;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(265.36deg, #EEDC9F 0.67%, rgba(251, 241, 209, 0.04) 44.01%), linear-gradient(94.32deg, #FFEBA9 2.09%, #FDF7DC 42.14%);
        border-radius: 10px;
        z-index: -2;
        transition: 100ms ease-out;
    } 
}
.title{
    font-family: PalatinoLinotype;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 107.1%;
    text-align: center;
    background: linear-gradient(107.91deg, #DDDDDD 18.86%, rgba(174, 174, 174, 0.63) 85.5%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    @include media(1400){
        font-size: 42px;
    }
    @include media(1200){
        font-size: 34px;
    }
    @include media(992){
        font-size: 30px;
    }
    @include media(575){
        font-weight: 400;
        font-size: 25px;
        line-height: 107.1%;
    }
}