doctype html 
html(lang="en") 
    head 
        meta(charset="UTF-8") 
        meta(http-equiv="X-UA-Compatible", content="IE=edge") 
        meta(name="viewport", content="width=device-width, initial-scale=1.0") 
        link(rel="stylesheet", href="css/style.min.css") 
        title Document 
    body 
        .wrapper.ask-bg  
            include components/header 
            +header 
            main.main 
                .ask 
                    .ask__body.container 
                        h2.title.ask__title Данный раздел посвящен самым частым вопросам от наших Уважаемых Клиентов
                        p.ask__p.subtitle Мы всегда открыты и готовы к диалогу. Мы работаем, опираясь на взаимоуважение,  доверие и результат. Поэтому вопросы - одна из важнейших ступеней нашего с Вами успешного сотрудничества. 
                        .ask__item 
                            .ask__item-img 
                                img(src="@img/ask.png", alt="" draggable="false")
                            .ask__item-content 
                                p.ask__item-title Вы, наверное, очередные инфоцыгане?
                                p.ask__item-p На первый взгляд может показаться именно так. Но когда Вы зайдете в раздел «Услуги», поймете - действительно показалось.<br>Мы ничего не продаем, не учим избитым шаблонам, не вещаем с трибун, не предлагаем посетить бесплатный тренинг, чтобы на нем убеждать Вас о платном сотрудничестве, у нас нет менеджеров, которые будут активно названивать Вам и отрабатывая возражения, убеждать - мы Лучшие и это именно ТО, что Вам нужно!<br>Мы Эксперты в области построения и обучения отделов; развития, управления и сопровождения бизнеса в Юридической сфере! – примите и используйте наш опыт и навыки во благо.
                        .ask__item 
                            .ask__item-img 
                                img(src="@img/ask.png", alt="" draggable="false")
                            .ask__item-content 
                                p.ask__item-title Для чего нужен анализ компании и работы сотрудников?
                                p.ask__item-p Мы не можем приступить к работе с Вашей Компанией без четкого понимания в чем кроется проблема. И есть ли она вообще… Анализ нужен для того, чтобы разработать программу, по которой мы будем двигаться в дальнейшем<br>Анализируем – Выявляем болевые точки – Предоставляем отчет и фронт работы – сотрудничаем.<br>Либо. <br>Анализируем – Выявляем отсутствие проблем – Предоставляем отчет – прощаемся.
                        .ask__item 
                            .ask__item-img 
                                img(src="@img/ask.png", alt="" draggable="false")
                            .ask__item-content 
                                p.ask__item-title Можно ли приобрести Ваш курс или видеоуроки?
                                p.ask__item-p Мы не занимаемся продажей курсов. <br>Во-первых, рынок заполнен всякими видеоуроками с однотипным материалом. Попадать в поток и становиться одними из – не хотелось бы.<br>Во-вторых, сможет ли видеоурок, курсы быть эффективнее внедрения в Компанию и личного присутствия? – Однозначно нет!<br>Возможно ли в видеоуроке охватить абсолютно все существующие болевые точки Компаний? – Нет! Только поверхностно.<br>Смогут ли Ваши сотрудники задать сопутствующие вопросы видеоуроку? – Нет!<br>Где гарантия усвоения материала? – Ее нет!<br>Кто будет проводить итоговую аттестацию? – Никто!<br>Кто будет в итоге сопровождать ваш бизнес, внедрять инновации, прописывать регламенты и т.д.? – Никто.<br>Видеоуроки и курсы – это всего лишь база. Мы не даем базовые знания, мы работаем над развитием Вашего бизнеса.
                        .ask__item 
                            .ask__item-img 
                                img(src="@img/ask.png", alt="" draggable="false")
                            .ask__item-content 
                                p.ask__item-title Вы сами проходили какие-то курсы, тренинги, есть ли у вас сертификаты, дипломы?
                                p.ask__item-p Безусловно, у нас есть дипломы о Высшем Юридическом образовании.<br>За плечами и курсы, тренинги, Бизнес - школа…. Посещаем различные форумы - всегда интересно выслушать точку зрения хорошего Специалиста. НО!<br>Мы не относим подобные факты к показателям нашей Экспертности. <br>Это всего лишь фундамент, на котором мы разработали и внедрили Свою собственную Систему и Программы.
                        .ask__item 
                            .ask__item-img 
                                img(src="@img/ask.png", alt="" draggable="false")
                            .ask__item-content 
                                p.ask__item-title С какими регионами вы работаете?
                                p.ask__item-p Со всеми регионами России и стран СНГ. Часовой пояс так же не важен – Оговариваем и Находим компромисс.
                        .ask__item 
                            .ask__item-img  
                                img(src="@img/ask.png", alt="" draggable="false")
                            .ask__item-content 
                                p.ask__item-title Мы допускаем Вас в CRM систему, предоставляем наши данные и посвящаем во все процессы - где гарантия, что вы не сольете информацию конкурентам?
                                p.ask__item-p Начиная сотрудничество с Компанией, Мы заключаем Соглашение о конфиденциальности, где четко регламентирована информация, не подлежащая разглашению.<br>Нарушение условий Соглашения, влечет юридическую ответственность.<br>Кроме того, наша Компания дорожит своей репутацией, что тоже не маловажно. 
                        .ask__item 
                            .ask__item-img 
                                img(src="@img/ask.png", alt="" draggable="false")
                            .ask__item-content 
                                p.ask__item-title Почему Вы не указываете название компаний в кейсах?
                                p.ask__item-p На сайте представлены несколько кейсов,<br>в которых прописаны реальные болевые точки Компаний в деталях: сложности с выполнением плановых показателей, финансовые дыры, отсутствие должной дисциплины и т.д. Страница с кейсами обязательно будет пополняться. <br>Давайте немного поразмышляем, мы проводим аудит в Вашей компании, выявляем ряд проблем, подчас даже недопустимых – а теперь задайте себе вопрос, Вы готовы, чтобы Ваши конкуренты, партнеры были в курсе данных событий?<br>Полагаю, нет….<br>Мы соблюдаем этику сотрудничества и условия Соглашения о конфиденциальности.
                        .ask__item 
                            .ask__item-img 
                                img(src="@img/ask.png", alt="" draggable="false")
                            .ask__item-content 
                                p.ask__item-title Как я могу узнать сколько стоят Ваши услуги?
                                p.ask__item-p Вы можете позвонить, написать на любой из мессенджеров, или оставить запрос на сайте. Вам будет направлено Коммерческое предложение с персонально разработанной ценовой политикой под Вашу ситуацию.
                        .ask__item 
                            .ask__item-img 
                                img(src="@img/ask.png", alt="" draggable="false")
                            .ask__item-content 
                                p.ask__item-title Мы находимся в другом регионе, как мы будем с Вами взаимодействовать? 
                                p.ask__item-p Работаем с Вами через любой удобный для Вас мессенджер, по видеосвязи и, разумеется, мы всегда сможем созвониться.<br>Подобный формат взаимодействия уже давно отлажен, сложностей не возникает.
                include components/form 
                +form 
            include components/footer 
            +footer 
        script(src="js/app.min.js")  