doctype html 
html(lang="en") 
    head 
        meta(charset="UTF-8") 
        meta(http-equiv="X-UA-Compatible", content="IE=edge") 
        meta(name="viewport", content="width=device-width, initial-scale=1.0") 
        link(rel="stylesheet", href="css/style.min.css") 
        title Document 
    body 
        .wrapper.cases 
            include components/header 
            +header 
            main.main 
                include components/case 
                +case 
                
                //- no 1
                .how.cases-wrap   
                    .how__body.container 
                        h2.cases__title Кейс №1
                        p.how__p Создание Клиентского Сервиса с Нуля с дальнейшим  Сопровождением
                        .how__content 
                            .how__col
                                .how__item
                                    .how__item-label 
                                        .how__item-num 1
                                        span.how__item-p ЦЕЛЬ
                                    p.how__item-desc Запуск новой компании по БФЛ, быстрая окупаемость вложений.
                                .how__item
                                    .how__item-label 
                                        .how__item-num 2
                                        span.how__item-p ПРОБЛЕМА КЛИЕНТА
                                    p.how__item-desc Знание сферы Банкротства Физических Лиц поверхностное
                                .how__item
                                    .how__item-label 
                                        .how__item-num 3
                                        span.how__item-p РАБОТА НА КОМПАНИЮ
                                    p.how__item-desc 1 год
                                .how__img 
                                    img(src="@img/cases-1.png", alt="" draggable="false")
                            .how__col
                                .how__item.big
                                    .how__item-label 
                                        .how__item-num 4
                                        span.how__item-p ПРОБЛЕМЫ В ПРОЦЕССЕ РАБОТЫ
                                    p.how__item-desc Слишком ограниченный бюджет на запуск и развитие проекта. Не выделялся бюджет на создание сайта. Недоверие клиентов, потому что нигде не фигурировала информация о компании. На начальном этапе предоставлялась клиентская база неизвестного происхождения.
                                .how__item
                                    .how__item-label 
                                        .how__item-num 5
                                        span.how__item-p РЕШЕНИЕ ПРОБЛЕМЫ
                                    p.how__item-desc Для создания сайта обратились к друзьям - бесплатно, контент для сайта прописывался самостоятельно. Самостоятельно была создана страница в инстаграм. В штат приняли двоих менеджеров с опытом работы в сфере БФЛ. Один Юрист. Для срочного получения прибыли менеджеры работали с раннего утра до позднего вечера фактически без выходных.
                                .how__item
                                    .how__item-label 
                                        .how__item-num 6
                                        span.how__item-p РЕЗУЛЬТАТ
                                    p.how__item-desc На третий месяц приняли в компанию еще двоих менеджеров. На пятый месяц открыли отдел Клиентского Сервиса, в этот же период запустили полноценный отдел Сопровождения клиентов (4 юриста, 4 помощника)<br>Окупаемость проекта - 6 месяцев.<br>Выход в прибыль на 7 месяц.<br>Штат сотрудников продолжал пополнятся на протяжении года. 
                            .how__img.lg 
                                img(src="@img/cases-1.png", alt="" draggable="false")
                
                //- no 2
                .how.cases-wrap   
                    .how__body.container 
                        h2.cases__title Кейс №2
                        p.how__p  Бизнес с Нуля. Запуск и Развитие Компании по БФЛ
                        .how__content 
                            .how__col
                                .how__item
                                    .how__item-label 
                                        .how__item-num 1
                                        span.how__item-p ЦЕЛЬ
                                    p.how__item-desc Запуск новой компании по БФЛ, быстрая окупаемость вложений.
                                .how__item
                                    .how__item-label 
                                        .how__item-num 2
                                        span.how__item-p ПРОБЛЕМА КЛИЕНТА
                                    p.how__item-desc Знание сферы Банкротства Физических Лиц поверхностное
                                .how__item
                                    .how__item-label 
                                        .how__item-num 3
                                        span.how__item-p РАБОТА НА КОМПАНИЮ
                                    p.how__item-desc 1 год
                            .how__col
                                .how__item.big
                                    .how__item-label 
                                        .how__item-num 4
                                        span.how__item-p ПРОБЛЕМЫ В ПРОЦЕССЕ РАБОТЫ
                                    p.how__item-desc Ограниченный бюджет на запуск и развитие проекта. Отсутствие бюджета на создание сайта. Недоверие клиентов из-за отсутствия информации о Компании. Сомнительная клиентская база на начальном этапе.
                                .how__item
                                    .how__item-label 
                                        .how__item-num 5
                                        span.how__item-p РЕШЕНИЕ ПРОБЛЕМЫ
                                    p.how__item-desc Создание сайта. Контент для сайта прописывался самостоятельно. Запуск соцсетей. Набор двух менеджеров с опытом работы в сфере БФЛ. Один Юрист. Собственниками выделены деньги на рекламу.
                                .how__item
                                    .how__item-label 
                                        .how__item-num 6
                                        span.how__item-p РЕЗУЛЬТАТ
                                    ul.how__item-ul 
                                        li.how__item-li.how__item-desc На третий месяц приняли в компанию еще двоих менеджеров. На пятый месяц открыли отдел Клиентского Сервиса, в этот же период запустили полноценный отдел Сопровождения клиентов (4 юриста, 4 помощника)
                                        li.how__item-li.how__item-desc Окупаемость проекта - 6 месяцев.
                                        li.how__item-li.how__item-desc Выход в прибыль на 7 месяц.
                                        li.how__item-li.how__item-desc Было продаж в месяц 0 - Стало 211

                
                //- no 3
                .how.cases-wrap   
                    .how__body.container 
                        h2.cases__title Кейс №3
                        p.how__p Полное сопровождение действующего бизнеса
                        .how__content 
                            .how__col
                                .how__item
                                    .how__item-label 
                                        .how__item-num 1
                                        span.how__item-p ЦЕЛЬ
                                    p.how__item-desc Увеличение конверсии, наладить бизнес-процессы, контроль – Аренда Специалиста по сопровождению действующего бизнеса
                                .how__item
                                    .how__item-label 
                                        .how__item-num 2
                                        span.how__item-p ПРОБЛЕМА КЛИЕНТА
                                    p.how__item-desc Текучка кадров, отсутствие регламентов, низкая мотивация, отсутствие РОПа, отсутствие отдела Клиентского Сервиса, не отлажены бизнес-процессы.
                                .how__item
                                    .how__item-label 
                                        .how__item-num 3
                                        span.how__item-p РАБОТА НА КОМПАНИЮ
                                    p.how__item-desc Около 8 мес.
                                .how__img 
                                    img(src="@img/cases-2.png", alt="" draggable="false")
                            .how__col
                                .how__item.big
                                    .how__item-label 
                                        .how__item-num 4
                                        span.how__item-p ПРОБЛЕМЫ В ПРОЦЕССЕ РАБОТЫ
                                    p.how__item-desc экономия бюджета, сопротивление регламентам, сложная перестройка собственников и коллектива к нововведениям, два месяца убеждал собственников на запуск Клиентского Сервиса. 
                                .how__item
                                    .how__item-label 
                                        .how__item-num 5
                                        span.how__item-p РЕШЕНИЕ ПРОБЛЕМЫ
                                    p.how__item-desc Анализ работы всех отделов, изучение отчетностей, работа с маркетологами, Были прописаны регламенты для всех отделов, изменена мотивация, увольнение 2-х сотрудников из ОП, набор новых сотрудников в отдел продаж – 3 чел, набор сотрудников для Клиентского сервиса – 2 чел, обучение, Аттестация, обучение одного из действующих сотрудников на должность РОПа, работа по взаимодействию отделов, разработка и внедрение нового направления. Управление и контроль.
                                .how__item
                                    .how__item-label 
                                        .how__item-num 6
                                        span.how__item-p РЕЗУЛЬТАТ
                                    p.how__item-desc Адаптация Собственников и коллектива была длительной – около 5 месяцев. <br><br>
                                    ul.how__item-ul
                                        li.how__item-desc Рост конверсии
                                        li.how__item-desc Наладилась коммуникация между отделами
                                        li.how__item-desc Дисциплина
                                        li.how__item-desc Жесткое Соблюдение регламентов
                                        li.how__item-desc Разгрузка юридического отдела – работа строго по регламенту, сокращение сроков подачи документов в суд, сокращение сроков процедуры.
                                        li.how__item-desc Благодарные отзывы клиентов
                                        li.how__item-desc Расширение штата сотрудников
                                        li.how__item-desc Улучшились плановые показатели было продаж 64 в месяц – стало 193


                            .how__img.lg 
                                img(src="@img/cases-2.png", alt="" draggable="false")
                
                //- no 4   
                .how.cases-wrap   
                    .how__body.container 
                        h2.cases__title Кейс №4 
                        p.how__p Создание Клиентского Сервиса с Нуля с дальнейшим Сопровождением
                        .how__content 
                            .how__col
                                .how__item
                                    .how__item-label 
                                        .how__item-num 1
                                        span.how__item-p ЦЕЛЬ
                                    p.how__item-desc Создать отдел Клиентского Сервиса с Сопровождением
                                .how__item
                                    .how__item-label 
                                        .how__item-num 2
                                        span.how__item-p ПРОБЛЕМА КЛИЕНТА
                                    p.how__item-desc Нерациональное использование Персонала. Чрезмерная нагрузка на менеджеров ОП (обзвон базы, заключение договоров, встречи, сбор ежемесячных платежей, взаимодействие с действующими клиентами, сбор документов). Как итог: Не выполнение плана. Конфликтных ситуаци, Потеря Клиентов как действующих так и новых, Маленький сбор ежемесячных платежей.
                                .how__item
                                    .how__item-label 
                                        .how__item-num 3
                                        span.how__item-p РАБОТА НА КОМПАНИЮ
                                    p.how__item-desc 5 месяцев
                            .how__col
                                .how__item.big
                                    .how__item-label 
                                        .how__item-num 4
                                        span.how__item-p ПРОБЛЕМЫ В ПРОЦЕССЕ РАБОТЫ
                                    p.how__item-desc Не было
                                .how__item
                                    .how__item-label 
                                        .how__item-num 5
                                        span.how__item-p РЕШЕНИЕ ПРОБЛЕМЫ
                                    p.how__item-desc Принято 2 сотрудника. Обучение. Аттестация. Допуск к работе. Прописали регламент. Полный контроль и сопровождение персонала.
                                .how__item
                                    .how__item-label 
                                        .how__item-num 6
                                        span.how__item-p РЕЗУЛЬТАТ
                                    ul.how__item-ul 
                                        li.how__item-desc.how__item-li Повышение конверсии в ОП. Психологическая разгрузка. Увеличение сбора ежемесячных платежей в 2.5 раза на первые 2 месяца.
                                        li.how__item-desc.how__item-li Повысился уровень сервиса. Налажена коммуникация между Отделом Продаж – отделом Клиентского Сервиса – Отделом Сопровождения.
                
                //- no 5
                .how.cases-wrap   
                    .how__body.container 
                        h2.cases__title Кейс №5
                        p.how__p Полное сопровождение действующего бизнеса
                        .how__content 
                            .how__col
                                .how__item
                                    .how__item-label 
                                        .how__item-num 1
                                        span.how__item-p ЦЕЛЬ
                                    p.how__item-desc Выйти за год на сеть филиалов до 100 сотрудников. Увеличить продажи до 1000 в месяц
                                .how__item
                                    .how__item-label 
                                        .how__item-num 2
                                        span.how__item-p ПРОБЛЕМА КЛИЕНТА
                                    p.how__item-desc дисциплина среди сотрудников, отсутствие регламентов, сотрудники не проходили должного обучения – знание продукта поверхностное, отсутствие бюджета.
                                .how__item
                                    .how__item-label 
                                        .how__item-num 3
                                        span.how__item-p РАБОТА НА КОМПАНИЮ
                                    p.how__item-desc 1 месяц
                                .how__img 
                                    img(src="@img/cases-3.png", alt="" draggable="false")
                            .how__col
                                .how__item.big
                                    .how__item-label 
                                        .how__item-num 4
                                        span.how__item-p ПРОБЛЕМЫ В ПРОЦЕССЕ РАБОТЫ
                                    p.how__item-desc Бюджет на развитие бизнеса – 0, Квалификация действующих сотрудников – 0, источник лидов – звонобот, банковская база, немного с сайта. Конверсия – 1.5% Дисциплина – 0 (сотрудники приступали к работе когда у них было настроение и желание) Убытки – колоссальные. Проблема с набором сотрудников, не все хотели идти работать без оклада.
                                .how__item
                                    .how__item-label 
                                        .how__item-num 5
                                        span.how__item-p РЕШЕНИЕ ПРОБЛЕМЫ
                                    p.how__item-desc Срочное увольнение действующих сотрудников. Срочный набор новых Специалистов. Срочное обучение одного действующего и трех новых кандидатов. Внедрил регламенты. Обучил работе СРМ. Обучил работе с таблицами. 
                                .how__item
                                    .how__item-label 
                                        .how__item-num 6
                                        span.how__item-p РЕЗУЛЬТАТ
                                    ul.how__item-ul 
                                        li.how__item-li.how__item-desc Дисциплина на отлично.
                                        li.how__item-li.how__item-desc Знание продукта и структуры продаж - приемлемо.
                                        li.how__item-li.how__item-desc Динамика не вдохновляла. 
                                        li.how__item-li.how__item-desc Было продаж ? (не вели отчетность) – стало 35
                                    p.how__item-desc *К сожалению, холодная база не приносит достойных результатов.<br>Принял решение покинуть компанию на второй месяц работы, по причине отсутствия бюджета на развитие своих амбиций. Отсутствие качественных лидов.
                            .how__img.lg 
                                img(src="@img/cases-3.png", alt="" draggable="false")
                
                //- no 6
                .how.cases-wrap   
                    .how__body.container 
                        h2.cases__title Кейс №6 
                        p.how__p Обучение и Сопровождение Действующего Клиентского Сервиса
                        .how__content 
                            .how__col
                                .how__item
                                    .how__item-label 
                                        .how__item-num 1
                                        span.how__item-p ЦЕЛЬ
                                    p.how__item-desc  Обучить действующий Клиентский Сервис. Повысить планы по ежемесячным платежам.
                                .how__item
                                    .how__item-label 
                                        .how__item-num 2
                                        span.how__item-p ПРОБЛЕМА КЛИЕНТА
                                    p.how__item-desc Небольшие ежемесячные сборы платежей, конфликты с клиентами, расторжения договоров на этапе сопровождения.
                                .how__item
                                    .how__item-label 
                                        .how__item-num 3
                                        span.how__item-p РАБОТА НА КОМПАНИЮ
                                    p.how__item-desc  3 месяца, с пролонгацией. посещать офис раз в месяц. Цель поддерживать знания, прорабатывать сложности в работе, мотивировать.
                            .how__col
                                .how__item.big
                                    .how__item-label 
                                        .how__item-num 4
                                        span.how__item-p ПРОБЛЕМЫ В ПРОЦЕССЕ РАБОТЫ
                                    p.how__item-desc Не было
                                .how__item
                                    .how__item-label 
                                        .how__item-num 5
                                        span.how__item-p РЕШЕНИЕ ПРОБЛЕМЫ
                                    p.how__item-desc Прием в отдел еще одного сотрудника. Обучение персонала. Аттестация. Внедрение регламента. Разработка и внедрение скрипта. Разработка и внедрение мотивации.
                                .how__item
                                    .how__item-label 
                                        .how__item-num 6
                                        span.how__item-p РЕЗУЛЬТАТ
                                    ul.how__item-ul 
                                        li.how__item-desc.how__item-li Выполнение плановых показателей.
                                        li.how__item-desc.how__item-li Увеличение ежемесячных сборов платежей.
                                        li.how__item-desc.how__item-li Увеличение суммы ежемесячного платежа с клиента.
                                        li.how__item-desc.how__item-li Сокращение количества расторжения договоров.
                
                //- no 7
                .how.cases-wrap   
                    .how__body.container 
                        h2.cases__title Кейс №7 
                        p.how__p Аренда Руководителя Отдела Продаж
                        .how__content 
                            .how__col
                                .how__item
                                    .how__item-label 
                                        .how__item-num 1
                                        span.how__item-p ЦЕЛЬ
                                    p.how__item-desc Увеличение конверсии, Увеличить средний чек
                                .how__item
                                    .how__item-label 
                                        .how__item-num 2
                                        span.how__item-p ПРОБЛЕМА КЛИЕНТА
                                    p.how__item-desc Маленький средний чек. Невыполнение планов. Знание продукта у сотрудников поверхностное. Низкая квалификация РОПа
                                .how__item
                                    .how__item-label 
                                        .how__item-num 3
                                        span.how__item-p РАБОТА НА КОМПАНИЮ
                                    p.how__item-desc 4 месяца
                            .how__col
                                .how__item.big
                                    .how__item-label 
                                        .how__item-num 4
                                        span.how__item-p ПРОБЛЕМЫ В ПРОЦЕССЕ РАБОТЫ
                                    p.how__item-desc Пытались сохранить РОПа, после обучения не прошел Аттестацию. 
                                .how__item
                                    .how__item-label 
                                        .how__item-num 5
                                        span.how__item-p РЕШЕНИЕ ПРОБЛЕМЫ
                                    p.how__item-desc Увольнение РОПа и двух менеджеров, не прошедших Аттестацию. Набор новых специалистов, Обучение, Аттестация. Обучение одного из действующих сотрудников на должность РОПа. Увеличение среднего чека до 10000 р. Полный контроль над работой персонала Компании.
                                .how__item
                                    .how__item-label 
                                        .how__item-num 6
                                        span.how__item-p РЕЗУЛЬТАТ
                                    ul.how__item-ul 
                                        li.how__item-desc.how__item-li Подготовлен РОП к выполнению своих должностных обязанностей.
                                        li.how__item-desc.how__item-li Улучшение дисциплины в ОП
                                        li.how__item-desc.how__item-li Увеличение конверсии в ОП
                                        li.how__item-desc.how__item-li Увеличение среднего чека в ОП.
                                        li.how__item-desc.how__item-li Было продаж 31 – Стало 78
                                        li.how__item-desc.how__item-li Средний чек был 7500 – стал 10500
                
                //- no 7
                .how.cases-wrap   
                    .how__body.container 
                        h2.cases__title Кейс №8 
                        p.how__p Развитие Доп. Проектов Аренда Директора по Продажам
                        .how__content 
                            .how__col
                                .how__item
                                    .how__item-label 
                                        .how__item-num 1
                                        span.how__item-p ЦЕЛЬ
                                    p.how__item-desc <span>Развить 4 проекта:</span><br>Проект по СРО<br>Проект по Лидогенератору<br>Проект Сложных Клиентов (Ипотека, Сохранение Имущества, Выкуп Имущества с торгов, Сохранение доходов)<br>Открытие Онлайн Отдела<br>В очень сжатые сроки!
                                .how__item
                                    .how__item-label 
                                        .how__item-num 2
                                        span.how__item-p ПРОБЛЕМА КЛИЕНТА
                                    p.how__item-desc Непродуманная финансовая политика.<br>Проблемы в процессе работы: Бюджет – 0, Реклама – 0, Неукомплектованность штата сотрудников. При подобном формате работы сложно говорить о быстрых результатах.
                            .how__col
                                .how__item
                                    .how__item-label 
                                        .how__item-num 4
                                        span.how__item-p ПРОБЛЕМЫ В ПРОЦЕССЕ РАБОТЫ
                                    p.how__item-desc Бюджет – 0, Реклама – 0, Сотрудников – 0, при подобном формате работы сложно говорить о быстрых результатах. Мое личный скептицизм в несколько проектов.
                                .how__item.big
                                    .how__item-label 
                                        .how__item-num 3 
                                        span.how__item-p РАБОТА НА КОМПАНИЮ
                                    p.how__item-desc 3 месяца, с пролонгацией. посещать офис раз в месяц. Цель поддерживать знания, прорабатывать сложности в работе, мотивировать.
                        p.how__p Проект по Развитию СРО – длительность моей работы 3 месяца 
                        .how__content 
                            .how__col
                                .how__item
                                    .how__item-label 
                                        .how__item-num 5
                                        span.how__item-p РЕШЕНИЕ ПРОБЛЕМЫ
                                    p.how__item-desc Привлечение сотрудника из своего штата для теста. Разработка КП и рассылка на электронную почту через базу Юридических компаний.
                            .how__col
                                .how__item
                                    .how__item-label 
                                        .how__item-num 6
                                        span.how__item-p РЕЗУЛЬТАТ
                                    p.how__item-desc Динамика медленная:
                                    ul.how__item-ul
                                        li.how__item-desc Первый месяц- 0 договоров
                                        li.how__item-desc Второй месяц – 2 договора
                                        li.how__item-desc Третий месяц – 5 договоров
                        p.how__p Проект по Развитию Лидогенератора – длительность моей работы 1 месяц
                        .how__content 
                            .how__col
                                .how__item
                                    .how__item-label 
                                        .how__item-num 5
                                        span.how__item-p РЕШЕНИЕ ПРОБЛЕМЫ
                                    p.how__item-desc Разработка КП и рассылка на электронную почту через базу Юридических Компаний.
                            .how__col
                                .how__item
                                    .how__item-label 
                                        .how__item-num 6
                                        span.how__item-p РЕЗУЛЬТАТ
                                    p.how__item-desc В первый же месяц мы потребовали закрыть проект из-за некачественной базы лидов. Отдел маркетинга проявил себя не профессионально.
                        p.how__p Проект Сложные Клиенты – длительность работы 3 месяца
                        .how__content 
                            .how__col
                                .how__item
                                    .how__item-label 
                                        .how__item-num 5
                                        span.how__item-p РЕШЕНИЕ ПРОБЛЕМЫ
                                    p.how__item-desc Было проведено обучение действующих Сотрудников по работе со Сложными Клиентами (Ипотечники, Много Имущества, Большой доход, Маленькая сумма долга) 
                            .how__col
                                .how__item
                                    .how__item-label 
                                        .how__item-num 6
                                        span.how__item-p РЕЗУЛЬТАТ
                                    ul.how__item-ul
                                        li.how__item-desc План на 1-ый месяц – 6 договоров – Выполнен.
                                        li.how__item-desc План на 2-месяц – 10 договоров– Выполнен
                                        li.how__item-desc План на 3-й месяц 15 договоров - Выполнен
                                    p.how__item-desc Резюме – Проект работает по сей день.
                        p.how__p Проект Онлайн отдел – длительность моей работы 4 месяца
                        .how__content 
                            .how__col
                                .how__item
                                    .how__item-label 
                                        .how__item-num 5
                                        span.how__item-p РЕШЕНИЕ ПРОБЛЕМЫ
                                    p.how__item-desc Набор персонала с опытом работы в сфере БФЛ. Обучение. Аттестация.<br>Назначение РОПа с дополнительным обучением. Полный контроль и сопровождения персонала.
                            .how__col
                                .how__item
                                    .how__item-label 
                                        .how__item-num 6
                                        span.how__item-p РЕЗУЛЬТАТ
                                    ul.how__item-ul
                                        li.how__item-desc Штат сформирован. РОП назначен. Сотрудники онлайн отдела достигают плановых показателей на третий месяц работы.
                                        li.how__item-desc Было продаж в месяц 0 – стало 61 

                include components/form 
                +form 
            include components/footer 
            +footer 
        script(src="js/app.min.js")  