// Главный Sass файл

// Шрифты
@import "fonts";

// abstracts
@import 
    'abstracts/variables',
    'abstracts/functions',
    'abstracts/mixins',
    'abstracts/placeholders';

// vendors
// @import 'vendors/bootstrap'

// themes
@import 
    'themes/theme',
    'themes/admin';
    
// base
@import 
    'base/reset',
    'base/typography';

// layout
@import 
    'layout/navigation',
    'layout/grid',
    'layout/header',
    'layout/footer',
    'layout/sidebar',
    'layout/intro',
    'layout/reason',
    'layout/adv',
    'layout/solution',
    'layout/info',
    'layout/how',
    'layout/poss',
    'layout/form',
    'layout/acq',
    'layout/forms';

// components
@import 
    'components/buttons',
    'components/carousel',
    'components/cover',
    'components/dropdown';

// pages
@import 
    'pages/home';
